* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}



i,
em {
    font-style: normal;
}

.box {
    /* width: 1349px; */
    /* height: 10735px; */
    /* background-color: aquamarine; */
    margin: 0 auto;
}

.content {
    width: 1198px;
    height: 100%;
    /* background-color: tan; */
    margin: 0 auto;

}

.top-list1>ul {
    display: none;
}



/* ----------------------main-------------------- */
.main-list {
    width: 100%;
    overflow: hidden;
    z-index: 99999;
    border-top: 2px solid #fc1116;

}

.main-list::after {
    content: '';
    height: 0;
    visibility: hidden;
    overflow: hidden;
    clear: both;
}

.ttop-list {
    float: left;
    width: 100%;
    height: 32px;

}

.ttop-list .tl {
    float: left;
    font-size: 12px;
    line-height: 32px;
    margin-top: 6px;
    color: #888888;
}

.ttop-list>ul {
    float: left;
    margin-left: 115px;
    position: relative;
}

.ttop-list>ul>li {
    float: left;
    background-color: #efefef;
    margin-right: 1px;
}

.ttop-list>ul>li:nth-child(1) {
    background-color: #76b003;
    z-index: 99999999999999;
}

.ttop-list>ul>li a {
    display: inline-block;
    width: 113px;
    height: 32px;
    font-size: 12px;
    line-height: 40px;
    padding-left: 12px;
    float: left;
}

.ttop-list>ul>li span {
    display: inline-block;
    float: right;
    font-size: 12px;
    line-height: 32px;
    transform: rotateZ(90deg);
    padding-top: 8px;
}

.left-list {
    width: 210px;
    height: 100%;
    overflow: hidden;
    float: left;
}

.shuiguo {
    width: 168px;
    height: 33px;
    border-bottom: 1px solid #77b10c;
    font-size: 23px;
    line-height: 23px;
    margin-top: 23px;
    color: #77b10c;

}

.class-selec {
    width: calc(100% - 210px);
    float: left;
    /* height: 197px; */
    margin-top: 30px;
    overflow: hidden;
}

.left-list>dl dt span {
    width: 10px;
    height: 8px;
    display: inline-block;
    background-image: url(../images/list-img/sanguo.gif);
    background-repeat: no-repeat;
    position: absolute;
    top: 13px;
    left: 0px;

}

.left-list>dl dt {
    font: size 12px;
    height: 33px;
    line-height: 33px;
    padding-left: 20px;
    width: 148px;
    position: relative;
}

.left-list>dl>div dd {
    font-size: 11px;
    line-height: 26px;
    height: 26px;
    width: 148px;
    padding-left: 20px;
    color: #666666;
}

.class-selec>ul {
    /* height: 35px; */
    width: 1221px;
    overflow: hidden;
    border-bottom: 1px dotted #b3b3b3;
}

.class-selec>ul ul {
    /* height: 35px; */
    width: 1221px;
    overflow: hidden;
    display: none;
}

.class-selec>ul ul {
    height: 35px;
    width: 1221px;
    margin-left: 203.49px;

}


.class-selec>ul li {
    float: left;
    width: 203.49px;
    height: 36px;
    font-size: 13px;
    line-height: 35px;
    text-align: center;

}


.class-selec .lm {
    width: 100%;
    height: 55px;
    font-size: 11px;
    color: #a6bfdf;
    text-align: center;
    line-height: 11px;
    margin-top: 21px;

}

.class-selec .lm img {
    margin-top: 4px;
}

.list-nav {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 1223px;
    display: none;
    z-index: 999999;
    background-color: aqua;

}

.n-menu2 {
    border-bottom: 1px dashed #E3E3E3;
    padding: 0;
    background: #fff;
    font-size: 12px;
    overflow: hidden;
    line-height: 30px;
}

.n-menu2 dt {
    width: 195px;
    float: left;
    line-height: 30px;
}

.n-menu2 dt span {

    float: right;
}

.n-menu2>dd {
    float: left;
    font-size: 12px;
    color: #999;
    padding: 0;
    line-height: 30px;
    width: 12%;
    text-align: center;
}



/* ----------------------商品列表----------------- */
.list-shangpin {
    float: left;
    z-index: 9999px;
    margin-bottom: 10px;

}

.list-shangpin .cp-toplist {
    width: 1220.9px;
    height: 33px;
    background-color: #e7e7e7;
}

.list-shangpin .cp-toplist ul {
    float: left;

}

.list-shangpin .cp-toplist ul li {
    height: 33px;
    width: 60px;
    color: #555555;
    float: left;
    font-size: 11px;
    line-height: 33px;
    text-align: center;

}

.list-shangpin .cp-toplist ul li:nth-child(1) {
    background-color: #dddddd;

}

.list-shangpin .cp-toplist span {
    float: right;
    font-size: 11px;
    line-height: 33px;
    padding: 0 18px;
    color: #555555;
}

.shangpin-list ul {
    width: 1220.9px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;

}

.shangpin-list ul li {
    width: 23.9%;
    padding: 20px 0;
    border: 1px solid #e7e7e7;
    margin: 0px 2px;
    text-align: center;

}

.cp-list-ul-li-sel .price {
    text-align: left;
    display: block;
    font-size: 24px;
    line-height: 54px;
    color: #fc1116;
}

.cp-list-ul-li-sel .t {
    display: block;

    background-position: 0 3px;
    background-image: url(../images/list-img/ico-crd.png);
    background-repeat: no-repeat;

}

.cp-list-ul-li-sel .t a {
    display: block;
    text-align: left;
    padding-left: 55px;
    line-height: 20px;
    font-size: 12px;
    color: #666666;
}

.cp-list-ul-li-sel .t i {
    display: block;
    padding-left: 55px;
    font-size: 12px;
    text-align: left;
    line-height: 20px;
    color: #666666;
}

.cp-list-ul-li-sel p {
    font-size: 11px;
    line-height: 37px;
    display: block;
    text-align: left;
}

.cp-list-ul-li-sel p font {
    color: #fc1116;
    margin-right: 2x;
    margin-left: 2px;
}

.cp-list-ul-li-sel p em {
    color: #af52ef;
    margin-left: 17px;
}

.Spinner a {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #ededed;
    background-color: #fff;
    float: left;
    cursor: pointer;
    outline: 0;
}

.Spinner .Amount {
    width: 50px;
    height: 17px;
    padding: 4px 5px;
    line-height: 17px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #ededed;
    float: left;
    text-align: center;
    color: #565656;
    outline: 0;
}

a.bth-jrshop {
    display: inline-table;
    width: 73px;
    height: 17px;
    padding: 4px 5px 4px 50px;
    line-height: 17px;
    border: 1px solid #ededed;
    color: #565656;
    outline: 0;
    font-size: 12px;

    color: #fc1116;
    background: url(../images/list-img/icon-shop.png) no-repeat 10px center;
}

.current>span {
    transform: rotateZ(-90deg);

    background-color: red;
}