@charset "GBK";
/* CSS Document */
html{position:relative; width:100%; height:100%;}
body{background:#fff; font-size:14px; font-family:"微软雅黑",Arial,"宋体",Verdana; line-height:150%; margin:0; padding:0; color:#222; width:100%; height:100%;}
/*body, button, input, select, textarea {
font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',宋体b8b\4f53,sans-serif;
}*/
*{margin: 0;padding: 0;}
div{margin:0 auto; padding:0;}
h1,h2,h3,h4,h5,h6,ul,ul li,ol li,dl,dt,dd,form,img,p,form,strong,input,i,em{
    margin:0; padding:0; border:none; list-style-type:none; font-family:"微软雅黑";
}
.none{ display:none}
.clear{clear:both; display:table; font-size:0}
.clearfix:after{
    content:"."; display:block; height:0; clear:both;
    visibility:hidden;
}
*html .clearfix{ height:1%;}
*+html .clearfix{ height:1%;}
.f_l{ float:left}
.f_r{ float: right}
img{ vertical-align:middle}
a{color:#4b4b4b;text-decoration:none}
a:hover,a:active{ color:#fb1116; text-decoration:none}
a.l_blue{color:#336699;text-decoration:none;}
a.l_blue:hover,a.l_blue:active{ color:#fb1116; text-decoration:none}
.main-body{ background:#fff;}
.top-bj{ background:#fff; height:252px;}
.w12{ width:1200px; margin:0 auto;}
.ad-top{position: relative;height:118px; width:100%;}
.ad-top .ad{width:100% !important;}
.ad-top .ad li .m-width {width: 1920px; margin:0 auto; overflow: hidden; }
.ad-top .ad li { width:100% !important; height: 118px; }
.ad-top .ad li img{ width:100%; height:118px; max-width:1920px;min-width:1200px;vertical-align:middle;display:inline-block;margin:0 auto;}

.top-info{ height:30px; background:#fff; margin:0 auto; font-size:12px; color:#666; line-height:30px; border-bottom:1px solid #f8f8f8; position:relative; z-index:9999999999999999999999}
.top-info .welcome{ float:left;  color:#bbb;}
.top-info .welcome a{ display:inline-table; background:url(/static/images/icon-xx.png) no-repeat 6px center; padding-left:20px;}
.top-info ul{ float:right;}
.top-info ul li{ display:inline-table; padding:0 10px; background:url(../images/line-l.png) no-repeat right center;}
.top-info ul li.erwm{ background:url(/static/images/icon-erwm.png) no-repeat 15px center; padding:0 5px 0 32px; position:relative; z-index:999}
.top-info ul li.erwm img{ display:none; position:absolute; top:26px; left:0px;}
.top-info ul li.erwm:hover img{ display: block; position:absolute; top:26px; left:-66px; z-index:99999}

.top{ height:100px; width:1200px; margin:0 auto;}
.logo-title{ float:left; width:320px; background:url(/static/images/logo.png) no-repeat left center; height:46px; margin-top:25px; white-space:normal; overflow:hidden}
.logo-title a{ white-space:nowrap; display:block; padding-left:320px; line-height:60px;}
.search-box{ float:left; background:#fff; width:520px; height:30px; margin:30px 0 0 0px; font-size:13px; position:relative;}
.search-box p{ top:28px; position:absolute; z-index:32; line-height:30px; font-size:12px; color:#5a5a5a;}
.search-box p a{ padding:0 8px; color:#5a5a5a;}
.search-box p a:hover{ color:#fb1116;}
.s-input{ float:left; line-height:28px; height:28px; border:1px solid #bdbdbd; border-right:0; color:#999; padding-left:10px; width:430px;}
.s-btn{ float:left; width:76px; height:30px; background:#fb1116; cursor: pointer; color:#fff;}
.egu_shop_cart{ float:left; margin:35px 0 0 116px; display:inline; width:119px; height:30px; background:#fbfbfb; position:relative;}
.egu_shop_cart span{ display:inline-table; color:#b3b3b3; font-size:12px; background: url(/static/images/icon-shop.png) no-repeat 12px center; padding-left:46px; line-height:30px;}
.egu_shop_cart i{ background:#e61117; font-size:10px; line-height:12px; font-style:normal; text-align:center; color:#fff; position:absolute; z-index:999; left:-2px; top:-3px; border-radius:6px; height:12px; min-width:12px;}


.nav-box{ height:32px; line-height:32px; position: relative;z-index:99;}
.nav-box ul.nav-left,.nav-box ul.nav-menu{ display:inline-table; line-height:24px;}
.nav-box ul.nav-menu{ margin-left:50px;}
.nav-box ul.nav-menu li{ font-size:12.5px; font-weight:bold; display:inline-table; padding:0 10px 0 20px;}
a.l-hse{ color:#888; font-weight:normal;}
.nav-box .icon-erwm{ display:inline-table; font-size:12px; color:#666; padding-left:10px; position: absolute; top:-80px; right:5px; z-index:555; width:80px; text-align:center; line-height:24px;}

.nav-box ul.nav-left{display:inline-table; width:195px; background:#fff; color:#111; font-size:13px; height:459px; padding-top:10px; border-left:1px solid #fb1116;}
.nav-box div.title{ width:175px; background:#fb1116; padding-left:20px; font-size:12px; line-height:32px; color:#fff;}
.nav-box ul.nav-left li{}
.nav-box ul.nav-left li span{ display:block; background:url(/static/images/icon-bsjt.png) no-repeat 180px 14px; padding:5px 0 3px 12px; line-height:150%; cursor:pointer; font-size:14px; color:#111}

.nav-box ul.nav-left li span.hover{ background:#efefef url(/static/images/icon-bsjt.png) no-repeat 180px 14px;}
.nav-box ul.nav-left li span a{ color:#111; text-decoration:none;}
.nav-box ul.nav-left li span p{ font-size:11px; color:#999;height:21px;overflow:hidden;}
.nav-box ul.nav-left li span p a{ color:#888; text-decoration:none; padding:0 5px 0 0;}

.class-menuBox{display:inline-table; width:195px;}


.bline{ border-bottom:2px solid #fb282d;}

.nav-box .nav_right { width: 800px;height:449px;position: absolute;margin-left: 195px;top:32px;line-height:150%;background: #FFFFFF;display:none;padding: 10px 0px;border-left:1px solid #eee;z-index:10;}
.nav_right dl {overflow: hidden;padding: 5px 0px 5px 0px;}
.nav_right dl:hover{ background:#f0f0f0;}
.nav_right dt {width: 120px;float: left;display: block;position: relative;clear: left;}
.nav_right dt a {font-size: 13px;color: #555;font-weight: bold;text-align: center;padding-left: 10px;text-decoration: none;cursor: pointer;}
.nav_right dt i {width: 4px;right: 12px;top: 2px;font-size: 14px;position: absolute;font-style: normal;}
.nav_right dd {width: 460px;float: left;display: block;position: relative;overflow: hidden;padding:0 5px 5px 0;border-bottom: 1px dashed #E3E3E3;}
.nav_right dd a {font-size: 12px;float: left;color: #666;padding: 0 10px;margin: 4px 0px;text-decoration: none;cursor: pointer;line-height:120%;border-left: 1px solid #E3E3E3;}
.nav_right dd a:hover {	color: #fb1116;}

.cpshow{cursor:pointer;}
.cpshow div.title{ width:175px; background:#fb1116 url(/static/images/cpshow-jt.png) no-repeat 180px center; padding-left:20px; font-size:12px; line-height:32px; color:#fff;}
.cpshow ul.nav-left{ display:none; border:1px solid #eee;  border-top:0px; width:193px}
.cpshow .nav_right{ border:1px solid #eee; border-top:0px;margin-left: 193px;}

.banner-box,.banner{ height:480px;position: relative;overflow: hidden;}
.mtime-box {position: absolute;left: 50%;margin-left: -960px;height: 480px;}
.mtime-box .bd{ width:100% !important;}
.mtime-box .bd li .m-width {width: 1222px; padding-top: 94px; margin:0 auto; overflow: hidden; }
.mtime-box .bd li { width:100% !important; height: 480px; }
/*.mtime-box .bd li a { display: block; background: url(/static/images/index_shadow.png) no-repeat 0 0; background-size: auto; padding:0px 0px 11px 0px; }*/
.mtime-box .bd li a { display: block; background-size: auto; padding:0px 0px 11px 0px; }

.mtime-btn { width: 1170px; position: absolute; height:60px; top:218px; left:50%; margin-left:-600px; }
.mtime-btn a { display: block; width: 28px; height: 53px; position: absolute; top: 0; z-index:11; filter: alpha(opacity=60); -moz-opacity: 0.6; -khtml-opacity: 0.6; opacity: 0.6; }
.mtime-btn a.prev { left:-60px; background: url(/static/images/icon-gund.png) no-repeat -2px top; z-index:1;}
.mtime-btn a.next { right:-60px; background: url(/static/images/icon-gund.png) no-repeat -30px top; z-index:1;}

.mtime-box .hd {position: absolute; top:220px; right:540px; z-index:999;}
.mtime-box .hd ul li { width:32px; height:10px; text-indent:-9999px; margin-right:6px; background:#000; float: left; cursor: pointer; filter: alpha(opacity=20); -moz-opacity: 0.2; -khtml-opacity: 0.2; opacity: 0.2; border-radius:3px;}
.mtime-box .hd ul li.on { background: #fff; filter: alpha(opacity=90); -moz-opacity: 0.9; -khtml-opacity: 0.9; opacity: 0.9;}

.pr{ position:relative; }

/*.notice{ position:absolute; z-index:99999999; right:0; width:205px; background:url(/static/images/box-bj.png) no-repeat left top; height:467px;}*/
.notice{ position:absolute; z-index:99999999; right:0; width:205px; height:467px;}
.main1200{width:1200px; margin:0 auto; padding-top:5px;}
.list4 li{ float:left; display:inline-table; padding-right:26px;}
.list4 li.end{padding-right:0}

.new_cp{}
.new_cp span.tt{ float:left; width:192px; margin-top:12px;}
.new_cp ul{ float:left; width:1008px; margin-top:12px;}
.new_cp ul li{ float:left; width:200px; border:1px solid #dadada; border-left:0; height:278px; padding-top:40px; text-align:center;}
.new_cp ul li i.img{ display:block;}
.new_cp ul li span.bt{display:table-cell;height:53px;vertical-align:middle; }
.new_cp ul li span.jg{display:block; background:#fff; border:1px solid #f4311d; width:158px; height:25px; line-height:25px; margin:0px auto; font-family:Arial, Helvetica, sans-serif;}
.new_cp ul li span.jg i{ width:50%; font-size:15px; color:#999; display:inline-table; font-style:normal; text-decoration: line-through; font-family:Arial, Helvetica, sans-serif}
.new_cp ul li span.jg em{ width:50%; font-size:17px; color:#fff; background:#f4311d; display:inline-table; font-style:normal; font-family:Arial, Helvetica, sans-serif}

.lmt-title{padding:40px 0 30px; text-align:center; background:url(/static/images/bj-tt.png) no-repeat center 60px;}
.lmt-title h3{font-size:32px; color:#333; line-height:152%; font-weight:normal;letter-spacing:3px;}
.lmt-title p{ color:#fb1116; font-size:12px;text-transform: uppercase;letter-spacing:2px; padding:5px 0;}
.lmt-title p em{ font-style: normal; color:#04ae00;}

.ht-clss{ height:304px; position:relative; width:1200px; margin:0 auto;}
.ht-clss a.more{ position:absolute; top:18px; right:10px; font-size:14px;}
.ht-clss ul{ float:left; padding:125px 0 0 0; width:180px}
.ht-clss ul li{width:54px; height:26px; line-height:26px; border-radius:8px; margin:15px 5px 0 15px; display:inline-table; font-size:12px; color:#fff; padding-left:5px;}
.ht-clss ul li a{color:#fff;}
.cad-a{ float:right; width:610px; height:295px; margin-top:9px;}
.cad-b{ float:right; width:391px; height:295px; margin-top:9px;}


.bj01{ background:url(/static/images/pic/ht_01.jpg) no-repeat left top;}
.bj01 li{ background-color: rgba(255, 255, 255, 0.2); border: 1px solid rgba(64, 94, 7, 0.3);}
.bj01 a.more{ color:#92b749}

.bj02{ background:url(/static/images/pic/ht_02.jpg) no-repeat left top;}
.bj02 li{ background-color: rgba(255, 255, 255, 0.2); border: 1px solid rgba(22, 89, 25, 0.3);}
.bj02 a.more{ color:#57b85c}

.bj03{ background:url(/static/images/pic/ht_03.jpg) no-repeat left top;}
.bj03 li{ background-color: rgba(255, 255, 255, 0.2); border: 1px solid rgba(135, 93, 16, 0.3);}
.bj03 a.more{ color:#e9ac3c}

.bj04{ background:url(/static/images/pic/ht_04.jpg) no-repeat left top;}
.bj04 li{background-color: rgba(255, 255, 255, 0.2); border: 1px solid rgba(96, 42, 0, 0.3);}
.bj04 a.more{ color:#57b85c}

.bj05{ background:url(/static/images/pic/ht_05.jpg) no-repeat left top;}
.bj05 li{ background-color: rgba(255, 255, 255, 0.2); border: 1px solid rgba(0, 98, 88, 0.3);}
.bj05 a.more{ color:#42c6b7}

.bj06{ background:url(/static/images/pic/ht_06.jpg) no-repeat left top;}
.bj06 li{ background-color: rgba(255, 255, 255, 0.2); border: 1px solid rgba(7, 71, 85, 0.3);}
.bj06 a.more{ color:#5bbacd}

.bj07{ background:url(/static/images/pic/ht_07.jpg) no-repeat left top;}
.bj07 li{background-color: rgba(255, 255, 255, 0.2); border: 1px solid rgba(99, 17, 95, 0.3);}
.bj07 a.more{ color:#df60db}

.bj08{ background:url(/static/images/pic/ht_08.jpg) no-repeat left top;}
.bj08 li{ background-color: rgba(255, 255, 255, 0.2); border: 1px solid rgba(48, 11, 101, 0.3); }
.bj08 a.more{ color:#9363d4}

.bj09{ background:url(/static/images/pic/ht_09.jpg) no-repeat left top;}
.bj09 li{  background-color: rgba(255, 255, 255, 0.2); border: 1px solid rgba(11, 54, 136, 0.3);}
.bj09 a.more{ color:#5c8ce3}


.products-box { padding-bottom:90px;}
.products-box ul{clear:both; padding:10px 0 0 0; background:#fff; width:1200px; margin:0 auto;}
.products-box ul li{ float:left; width:200px; text-align:center; font-size:14px; padding:8px 0; line-height:120%;}
.products-box ul li em{ font-style:normal; display: block; color:#555}
.products-box ul li p{ padding:8px 0 8px 15px; line-height:130%; width:180px; margin:0 auto; text-align:left;}
.products-box ul li span{ color:#ef3f3b; font-size:19px; display:block; padding:10px 0 5px 0;}
.products-box ul li span i{ font-style:normal; font-size:20px;}
.products-box .ri{float:right;text-decoration:line-through; font-size:14px; color:#4b4b4b;padding-right:20px;}
.bj_bj01{ background:url(/static/images/pic/ht_bj01.jpg) no-repeat center bottom;}
.bj_bj02{ background:url(/static/images/pic/ht_bj02.jpg) no-repeat center bottom;}
.bj_bj03{ background:url(/static/images/pic/ht_bj03.jpg) no-repeat center bottom;}
.bj_bj04{ background:url(/static/images/pic/ht_bj04.jpg) no-repeat center bottom;}
.bj_bj05{ background:url(/static/images/pic/ht_bj05.jpg) no-repeat center bottom;}
.bj_bj06{ background:url(/static/images/pic/ht_bj06.jpg) no-repeat center bottom;}
.bj_bj07{ background:url(/static/images/pic/ht_bj07.jpg) no-repeat center bottom;}
.bj_bj08{ background:url(/static/images/pic/ht_bj08.jpg) no-repeat center bottom;}
.bj_bj09{ background:url(/static/images/pic/ht_bj09.jpg) no-repeat center bottom;}


.copy{ background:#fff; text-align:center; clear:both; margin-top:20px}
.b-menu{ text-align:center;padding:20px 0 50px 0; width:1140px; margin:0 auto;}
.b-menu dl{ float:left; width:180px; display:inline-table; padding-left:30px; text-align:left; line-height:26px; font-size:12px; margin-top:20px;}
.b-menu dl.c1{ background:url(/static/images/icon-shop.png) no-repeat left top;}
.b-menu dl.c2{ background:url(/static/images/icon-fw2.png) no-repeat left top;}
.b-menu dl.c3{ background:url(/static/images/icon-fw3.png) no-repeat left top;}
.b-menu dl.c4{ background:url(/static/images/icon-fw4.png) no-repeat left top;}
.b-menu dl dt{ font-size:14px; font-weight:bold;}

.links{ background:#dde0dc; line-height:49px; color:#999; font-size:13px; color:#3e3e3e;}
.links ul{ width:1200px; margin:0 auto; text-align: left; line-height:200%}
.links ul li{ width:24.5%; display:inline-table; padding:16px 0;}
.links ul li strong{font-size:16px; padding-left:72px;}
.links ul li p{ font-size:13px; line-height:150%; padding:5px 10px 5px 72px;}
.links ul li.i-xian{ background:url(/static/images/icon-xian.png) no-repeat left center}
.links ul li.i-kuai{ background:url(/static/images/icon-kuai.png) no-repeat left center}
.links ul li.i-fu{ background:url(/static/images/icon-fu.png) no-repeat left center}
.links ul li.i-tui{ background:url(/static/images/icon-tui.png) no-repeat left center}


.t-menu{ padding:2px 0 30px; color:#999; background:#fdfdfd; border-top:1px solid #eee; height:auto; line-height:26px; font-size:12px;}
.t-menu p{ display:block; line-height:160%; padding-top:10px;}
.t-menu p.m a{ padding:0 12px; border-left:1px solid #ccc; line-height:22px;}
.t-menu p.m a.f{border-left:0}
.t-menu p.l img{ max-height:50px; margin:0 3px}

.b-news{width:1200px; margin:0 auto; padding:20px 0 20px 0; text-align:left;}
.b-news  a:hover {color: #fd7400;}
.b-news .nr-lf {float: left;width: 850px;padding: 10px 20px;margin: 20px 0px 10px 0px;border: 1px solid #d2d2d2;}
.b-news .nr-lf-ti {float: left;width: 850px;font-size: 18px;font-weight: bold;padding-bottom: 10px;}
.b-news .nr-lf-img {float: left;width: 217px;}
.b-news .nr-lf-news {float: left;width: 620px;margin-left: 10px;}
.b-news .nr-lf-news li {float: left;width: 620px;padding: 0px 10px 10px 10px;}
.b-news .nr-lf-news li span {float: left;width: 620px;font-size: 14px;font-weight: bold;}
.b-news .nr-lf-news li p {float: left;width: 620px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; /* for IE */-o-text-overflow: ellipsis; /* for Opera */-icab-text-overflow: ellipsis; /* for iCab */-khtml-text-overflow: ellipsis; /* for Konqueror Safari */-moz-text-overflow: ellipsis; /* for Firefox,mozilla */-webkit-text-overflow: ellipsis; /* for Safari,Swift*/}
.b-news .nr-ri {float: right;width: 290px;padding: 20px 0px 20px 15px;}
.b-news .nr-ri ul {float: left;width: 290px;}
.b-news .nr-ri ul li {float: left;width: 275px;padding-bottom: 3px;}
.b-news .nr-ri ul li span {float: left;width: 275px;padding-top: 20px;}
.b-news dl{ border:1px solid #d2d2d2; padding:15px 20px; background:#fff;}
.b-news dt{font-size:18px; line-height:150%}
.b-news dt strong{ display:block; padding:0 0 5px 0;}
.b-news dt.d{ float:left; width:250px; }
.b-news dd{ padding:0px 0 7px 0; line-height:150%; font-size:13px; color:#555;}
.b-news dd b{ font-size:14px;}
.b-tel{ float:right; padding:10px 20px 20px 0; }
.b-tel h3{ font-size:16px; text-align:center; line-height:200%;}
a.hse{ color:#fb1116;}
.search-box p a.lse{ color:#04af00;}


body{ position:relative}
.fd-menu{ display:none;position:fixed; width:39px; top:160px; z-index:555555555;list-style-type:none;left: calc(((100% - 1200px) / 2) - 100px); background-color: #fff;}
@media(max-width:1350px) { .fd-menu { left: 5px }}
.fd-menu li{ margin:1px 0 0 0; width:39px; height:40px; padding:7px 0 0 0; color:#fff; font-size:14px; background:#b7b5b5; text-align:center; line-height:120%}
.fd-menu li.icon-bjt{ background:#b7b5b5 url(/static/images/icon-jt.png) no-repeat center 8px; padding-top:24px; height:23px}
.fd-menu a{color:#fff;width: 39px;height: 40px;}
.fd-menu li.floor0{background: red;color:#fff;}
.fd-menu li.floor1{background-color: #76B003;}
.fd-menu li.floor2{background-color: #30B633;}
.fd-menu li.floor3{background-color: #e0a63b;}
.fd-menu li.floor4{background-color: #da9166;}
.fd-menu li.floor5{background-color: #27beaf;}
.fd-menu li.floor6{background-color: #64b0c0;}
.fd-menu li.floor7{background-color: #d864d3;}
.fd-menu li.floor8{background-color: #8351ce;}
.fd-menu li.floor9{background-color: #6494e8;}